<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>{$current['title']}-{$Think.CONFIG.title}</title>
    <meta name="keywords" content="{$Think.CONFIG.keywords}" />
    <meta name="description" content="{$Think.CONFIG.description}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <include file="Public/head" />
</head>
<body class="no-skin">
<include file="Public/header" />
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>
    <include file="Public/sidebar" />
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs" />
            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set" />
                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="cf">
                                <a class="btn btn-info" href="{:U('add')}">新增</a>
                                <a class="btn btn-info" href="javascript:;" onclick="sync()">同步公众号</a>
                                <span class="lbl hide" id="sync_hot">同步中...</span>
                            </div>
                            <div class="space-4"></div>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>GID</th>
                                        <th>公众号昵称</th>
                                        <th>App ID</th>
                                        <th>App Secret</th>
                                        <th>Domain</th>
                                        <th class="center">状态</th>
                                        <th class="center">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <volist name="list" id="val">
                                        <tr>
                                            <td>{$val['gid']}</td>
                                            <td>{$val['name']}</td>
                                            <td>{$val['app_id']}</td>
                                            <td>{$val['secret']}</td>
                                            <td>{$val['domain']}</td>
                                            <td class="center">{$val['status']}</td>
                                            <td class="center"><a href="{:U('edit',['id'=>$val['id']])}">修改</a>&nbsp;<a class="del" href="javascript:;" val="{:U('del',['ids'=>$val['id']])}" title="删除">删除</a></td>
                                        </tr>
                                    </volist>
                                    </tbody>
                                </table>
                            </form>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->
        <include file="Public/footer" />
    </div>
</div>
<include file="Public/footerjs" />
<!-- /.main-container -->
<script type="text/javascript">
    $(function(){
        $(".del").click(function(){
            var url = $(this).attr('val');
            bootbox.confirm({
                title: "系统提示",
                message: "确定要删除?",
                callback:function(result){
                    if(result){
                        window.location.href = url;
                    }
                },
                buttons: {
                    "cancel" : {"label" : "取消"},
                    "confirm" : {
                        "label" : "确定",
                        "className" : "btn-danger"
                    }
                }
            });
        });
    });

    function sync() {
        $("#sync_hot").show();
        $.get(
                "{:U('Ln/Wechat/Sync')}&ajax=1",
                function (data) {
                    $("#sync_hot").hide();
                    if(data){
                        alert('同步成功');
                    } else {
                        alert('同步失败');
                    }
                }
        );
    }
</script>
</body>
</html>