<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>{$current['title']}-{$Think.CONFIG.title}</title>
    <meta name="keywords" content="{$Think.CONFIG.keywords}"/>
    <meta name="description" content="{$Think.CONFIG.description}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <include file="Public/head"/>
</head>
<body class="no-skin">
<include file="Public/header"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs"/>            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal" action="{:U('update')}" method="post">
                            <div class="form-group">
                                <div class="form-group">
                                    <input name="id" value="{$wechat.id}" type="hidden">
                                    <label class="col-sm-1 control-label no-padding-right"> 公众号名称 </label>
                                    <div class="col-sm-9">
                                        <input type="text" name="name" id="name" class="rcol-xs-10 col-sm-5" value="{$wechat.name}">
                                        <span class="help-inline col-xs-12 col-sm-7">
                                            <span class="middle"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group"><label class="col-sm-1 control-label no-padding-right">AppID </label>
                                    <div class="col-sm-9">
                                        <input type="text" name="app_id" id="app_id" class="col-xs-10 col-sm-5" value="{$wechat.app_id}">
                                        <span class="help-inline col-xs-12 col-sm-7">
                                            <span class="middle"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group"><label class="col-sm-1 control-label no-padding-right"> AppSecret </label>
                                    <div class="col-sm-9">
                                        <input type="text" name="secret" id="secret" class="col-xs-10 col-sm-5" value="{$wechat.secret}">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                        <span class="middle"></span>
                                    </span>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group"><label class="col-sm-1 control-label no-padding-right"> 微信支付商户号 </label>
                                    <div class="col-sm-9">
                                        <input type="text" name="merchant_id" id="merchant_id" class="col-xs-10 col-sm-5" value="{$wechat.merchant_id}">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                        <span class="middle"></span>
                                    </span>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label no-padding-right"> 微信支付密钥 </label>
                                    <div class="col-sm-9">
                                        <input type="text" name="key" id="key" class="col-xs-10 col-sm-5" value="{$wechat.key}">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                        <span class="middle"></span>
                                    </span>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label no-padding-right"> 支付授权域名 </label>
                                    <div class="col-sm-9">
                                        <input type="text" name="api_url" id="api_url" class="col-xs-10 col-sm-5" value="{$wechat.api_url}">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                        <span class="middle"></span>
                                    </span>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label no-padding-right"> Moive 平台编号 </label>
                                    <div class="col-sm-9">
                                        <input type="text" name="web_id" id="web_id" class="col-xs-10 col-sm-5" value="{$wechat.web_id}">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                        <span class="middle"></span>
                                    </span>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-1 control-label no-padding-right"> Moive 网址 </label>
                                    <div class="col-sm-9">
                                        <input type="text" name="web_url" id="web_url" class="col-xs-10 col-sm-5" value="{$wechat.web_url}">
                                    <span class="help-inline col-xs-12 col-sm-7">
                                        <span class="middle"></span>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right"> 状态</label>
                                <div>
                                    <label class="checkbox-inline">
                                        <input type="radio" name="status" value="0"<if condition="$wechat.status eq 0"> checked="checked"</if>> 关闭
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="radio" name="status" value="1"<if condition="$wechat.status eq 1"> checked="checked"</if>> 启用
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="radio" name="status" value="2"<if condition="$wechat.status eq 2"> checked="checked"</if>> 异常
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="radio" name="status" value="3"<if condition="$wechat.status eq 3"> checked="checked"</if>> 待用
                                    </label>
                                </div>
                                <span class="help-inline col-xs-12 col-sm-7">
                                    <span class="middle"></span>
                                </span>
                            </div>
                            <div class="space-4"></div>
                            <div class="col-md-offset-2 col-md-9">
                                <button class="btn btn-info" type="submit"><i class="icon-ok bigger-110"></i> 提交
                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset"><i class="icon-undo bigger-110"></i> 重置</button>
                            </div>
                        </form>                        <!-- PAGE CONTENT ENDS -->
                    </div>
                    <!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <include file="Public/footer"/>
</div><!-- /.main-container -->
<include file="Public/footerjs"/><!-- inline scripts related to this page -->
<script type="text/javascript">
    $(function () {
        $(".btn.btn-info").click(function () {
            var title = $("#gid").val();
            if (title == '') {
                bootbox.alert({
                    buttons: {ok: {label: '确定', className: 'btn-myStyle'}},
                    message: 'gid不能为空。',
                    title: "友情提示",
                });
                return false;
            }
        })
    })
</script>
</body>
</html>