<!DOCTYPE html>

<html lang="zh-CN">

<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <meta charset="utf-8"/>

    <title>{$current['title']}-{$Think.CONFIG.title}</title>

    <meta name="keywords" content="{$Think.CONFIG.keywords}"/>

    <meta name="description" content="{$Think.CONFIG.description}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <include file="Public/head"/>
    <style>
    </style>

</head>

<body class="no-skin">

<include file="Public/header"/>

<div class="main-container" id="main-container">

    <script type="text/javascript">

        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }

    </script>


    <include file="Public/sidebar"/>

    <div class="main-content">

        <div class="main-content-inner">

            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs" />
            <!-- /section:basics/content.breadcrumbs -->

            <div class="page-content">

                <include file="Public/set"/>
                <!-- /section:settings.box -->
                <div class="row">
                    <form class="form-inline" action="{:U('index')}" method="get" id="search-form">
                        <if condition="$user['gid'] lt 3">
                        <label class="btn btn-info btn-search">分销商搜索</label>
                        <div class="input-group btn-line">
                            <input type="text" name="keyword" value="{$Think.get.keyword}" class="form-control">
                        </div>
                        </if>
                        <label class="inline">&nbsp;&nbsp;开始日期：</label>

                        <div class="input-group form-group">

                            <input class="form-control" id="startime" name="startime" value="{$date.start}" type="text"
                                   data-date-format="dd-mm-yyyy"/>

												<span class="input-group-addon btn-mar">

													<i class="ace-icon fa fa-calendar bigger-110"></i>

												</span>

                        </div>
                        <label class="inline" >&nbsp;&nbsp;结束日期:</label>

                        <div class="input-group form-group">

                            <input class="form-control" id="entime" name="endtime" value="{$date.end}" type="text"
                                   data-date-format="dd-mm-yyyy"/>

												<span class="input-group-addon btn-mar">

													<i class="ace-icon fa fa-calendar bigger-110"></i>

												</span>

                        </div>
                        <button type="submit" class="btn btn-purple btn-sm">

                            <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>

                            Search

                        </button>

                        <a class="btn btn-info btn-sm" href="{:U('index')}">今日统计</a>
                        <a class="btn btn-info btn-sm" id="cation_url"
                           href="{:U('index')}&startime={:date('Y-m-d 00:00:00',strtotime('-1 day'))}&endtime={:date('Y-m-d 00:00:00')}">昨日统计</a>

                    </form>
                </div>
                <div class="space-4"></div>
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>

                                <th>ID</th>

                                <th>分销商</th>

                                <th>总注册用户数量</th>

                                <th>总充值人数</th>

                                <th>总充值金额</th>
                                <!-- <th>注册/充值人数比例</th>-->

                                <!--

                                <th class="center">操作</th>

                                -->

                            </tr>

                            </thead>

                            <tbody>

                            <volist name="list" id="val">
                                <if condition="$val['has_child']">
                                    <tr class="has_child c_hide" data-id="{$val['uid']}">
                                        <else/>
                                    <tr>
                                </if>
                                <td><i></i>{$val['uid']}</td>
                                <td>{$val['user']}</td>
                                <td>{$val['rcount']}</td>
                                <td>{$val['pcount']}</td>
                                <td><if condition="$val['gid'] eq 2 && $val['enable_deduct'] eq 1">总计:&nbsp;&yen;{$val['fsum']}&nbsp;(抽成:&nbsp;&yen;{$val['ksum']})<else/>&yen;{$val['fsum']}</if></td>
                                <!--<td>{$val['scale']}</td>-->
                                </tr>
                            </volist>

                            </tbody>

                            </tbody>
                        </table>
                        <?php if($gid == 1){?>
                        <a href="javascript:export_earnings()">导出收益</a>
                        <?php }?>
                        <!-- PAGE CONTENT ENDS -->
                    </div>
                </div><!-- /.col -->
                {$page}
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->

        <include file="Public/footer"/>


    </div><!-- /.main-container -->


    <include file="Public/footerjs"/>

    <script src="__PUBLIC__/Ln/js/date-time/bootstrap-datepicker.js"></script>

    <!-- inline scripts related to this page -->

    <script type="text/javascript">
        function export_earnings() {
            var stime = $("#startime").val();
            var etime = $("#entime").val();
            var url = "{:U('export_earnings')}";
            if(stime){
                url += "&stime="+stime;
            }
            if(etime){
                url += "&etime="+etime;
            }
            location.href = url;
        }
        $(function () {

            $('#startime').datepicker({

                format: 'yyyy-mm-dd',

                weekStart: 1,

                autoclose: true,

                todayBtn: 'linked',

                language: 'cn'

            });

            $('#entime').datepicker({

                format: 'yyyy-mm-dd',

                weekStart: 1,

                autoclose: true,

                todayBtn: 'linked',

                language: 'cn'

            });

            $(".has_child").click(function () {
                var t = $(this);
                var id = t.attr('data-id');
                var child = $(".child_" + id);
                var startime = $("#startime").val();
                var endtime = $("#entime").val();
                if (t.hasClass('c_hide')) {
                    if (child.length > 0) {
                        child.show()
                        t.removeClass('c_hide').addClass('c_open');
                    } else {
                        $.get("{:U('Ln/Promotion/Index')}&ajax=1&uid=" + id + "&startime=" + startime + "&endtime=" + endtime,
                                function (data) {
                                    var ret = JSON.parse(data);
                                    t.after(ret.html);
                                    $("." + id + "_child").show();
                                    t.removeClass('c_hide').addClass('c_open');
                                });
                    }
                } else {
                    if (child.length > 0) {
                        child.hide();
                        t.removeClass('c_open').addClass('c_hide');
                    }
                }
            });

            //查询

            $("#search-form").on('submit', function (e) {

                e.preventDefault();

                var getURl = $("#search-form").attr("action")
                        <if condition="$user['gid'] lt 3">
                                + '&keyword=' + $("input[name='keyword']").val()
						</if>		
                                + '&startime=' + $("input[name='startime']").val()
                                + '&endtime=' + $("input[name='endtime']").val()
                        ;
					
                $("#search-form").attr("action", getURl);

                window.location.href = getURl;

            });

        });

    </script>

</body>

</html>