<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>{$current['title']}-{$Think.CONFIG.title}</title>
    <meta name="keywords" content="{$Think.CONFIG.keywords}" />
    <meta name="description" content="{$Think.CONFIG.description}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <include file="Public/head" />
    <link rel="stylesheet" href="__PUBLIC__/Ln/css/admin.css" />
    <link rel="stylesheet" href="__PUBLIC__/Ln/css/amazeui.min.css" />
    <style type="text/css">
        .show_button{border: 1px solid #999;width:100px;float: left;text-align: center;margin:0 10px 10px 0;line-height: 30px;cursor: pointer;}
        .ccc{background-color: #ccc;}
    </style>
</head>
<body class="no-skin">
<include file="Public/header" />
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>
    <include file="Public/sidebar" />
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs" />
            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set" />
                <!-- /section:settings.box -->
                <div class="row">
                    <div class="admin-content">
                        <div class="am-g" style="margin-top:20px;">
                            <div class="am-u-md-8">
                                <div class="am-panel am-panel-default">
                                    <div class="am-panel-hd am-cf"><!--域名列表(未充值跳转页面)--></div>
                                    <div id="collapse-panel-4" class="am-panel-bd am-collapse am-in">
                                        <div class="weixin_list" style="padding-left:20px;">
                                            <div class="weixin am-g"  >
                                                <!--<a  <?php if($type =="1"){ echo ' class="am-btn am-btn-danger" ';}else{ echo 'class="am-btn am-btn-primary"'; }?>
                                                    href="?type=1">启用的域名</a>
                                                <a <?php if($type =="2"){ echo ' class="am-btn am-btn-danger" ';}else{ echo 'class="am-btn am-btn-primary"'; }?>
                                                    href="?type=2">拦截的域名</a>
                                                <a <?php if($type =="3"){ echo ' class="am-btn am-btn-danger" ';}else{ echo 'class="am-btn am-btn-primary"'; }?>
                                                href="?type=3">备用的域名</a>-->
                                                <div>
                                                    <?php $count=ceil(count($domainlist)/30);?>
                                                    <?php for($i=1;$i<=$count;$i++){ ?>
                                                    <div class="show_button <if condition='$i eq 1'>ccc</if>" onclick="show({$i},this)">第{$i}页</div>
                                                    <?php }?>
                                                </div>

                                                <table class="am-table">
                                                    <thead>
                                                    <tr>
                                                        <th style="width:4%"> ID</th>
                                                        <th>域名</th>
                                                        <th style="width:10%">状态</th>
                                                        <th>操作</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="app">
                                                    <volist name="domainlist" id="v" key="k">
                                                    <tr class="show_<?php echo  ceil(($k)/30);?> qccode" >
                                                        <td >{$v['id']}</td>
                                                        <td>{$v['url']}</td>
                                                        <td > <?php if($v['look'] == 0){ echo "开启";}else{ echo "关闭";}?> </td>
                                                        <td>
                                                            <?php if($v['look'] == 0){ ?>
                                                                <a href="<?php echo U('Ln/DoMain/domain_save',array('look'=>1,'id'=>$v['id']));?>">关闭</a>
                                                            <?php }else{?>
                                                                <a href="<?php echo U('Ln/DoMain/domain_save',array('look'=>0,'id'=>$v['id']));?>">开启</a>
                                                            <?php } ?>
                                                            <?php /*if($type == 1){?>
                                                            <a href="<?php echo U('Ln/DoMain/domain_save',array('type'=>2,'id'=>$v['id']));?>">拦截</a>

                                                            <a href="<?php echo U('Ln/DoMain/domain_save',array('type'=>3,'id'=>$v['id']));?>">备用</a>
                                                            <?php }else{?>
                                                            <a href="<?php echo U('Ln/DoMain/domain_save',array('type'=>1,'id'=>$v['id']));?>">启用</a>
                                                            <?php } */?>
                                                        </td>
                                                    </tr>
                                                    </volist>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="am-u-md-4">
                                <div class="am-panel am-panel-default">
                                    <div class="am-panel-hd am-cf">添加域名</div>
                                    <div id="collapse-panel-4" class="am-panel-bd am-collapse am-in">
                                        <form class="am-form am-form-horizontal" action="{:U('Ln/DoMain/add_domain')}" method="post" >
                                            <input type="hidden" name="type" value="1">
                                            <div class="am-form-group">
                                                <label for="doc-ipt-3"class="am-u-sm-2 am-form-label">域名</label>
                                                <div class="am-u-sm-10">
                                                    <input type="text"  name="url" id="doc-ipt-3" placeholder="输入域名，多域名请用“,”分隔">
                                                </div>
                                            </div>
                                            <div class="am-form-group">
                                                <label for="doc-ipt-3" name="k" class="am-u-sm-2 am-form-label">状态</label>
                                                <div class="am-u-sm-10">
                                                    <select id="cid" name="look" class="form-control" size="1">
                                                        <option value="0">启用</option>
                                                        <option value="1">关闭</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="am-form-group">
                                                <div class="am-u-sm-10 am-u-sm-offset-2">
                                                    <button type="submit" class="am-btn am-btn-default">添加</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {$page}
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->
        <include file="Public/footer" />
    </div>
</div>
<include file="Public/footerjs" />
<!-- /.main-container -->
<script type="text/javascript">
    function show(page,obj){
        $(".qccode").hide();
        if(obj){
            $(".ccc").removeClass("ccc");
            $(obj).addClass("ccc");
        }
        $(".show_"+page).show();
    }
    show(1);
    $(function(){
        $(".del").click(function(){
            var url = $(this).attr('val');
            bootbox.confirm({
                title: "系统提示",
                message: "确定要删除?",
                callback:function(result){
                    if(result){
                        window.location.href = url;
                    }
                },
                buttons: {
                    "cancel" : {"label" : "取消"},
                    "confirm" : {
                        "label" : "确定",
                        "className" : "btn-danger"
                    }
                }
            });
        });
    });


</script>
</body>
</html>