<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>{$current['title']}-{$Think.CONFIG.title}</title>
    <meta name="keywords" content="{$Think.CONFIG.keywords}" />
    <meta name="description" content="{$Think.CONFIG.description}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <include file="Public/head" />
    <link rel="stylesheet" href="__PUBLIC__/Ln/css/admin.css" />
    <link rel="stylesheet" href="__PUBLIC__/Ln/css/amazeui.min.css" />
    <style type="text/css">
    body{font-size:1.3rem}
    .show_button{border: 1px solid #999;width:100px;float: left;text-align: center;margin:0 10px 10px 0;line-height: 30px;cursor: pointer;}
    .ccc{background-color: #ccc;}
    </style>
</head>

<body class="no-skin">
<include file="Public/header" />
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>
    <include file="Public/sidebar" />
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs" />
            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set" />
                <!-- /section:settings.box -->
                <div class="row">

                    <div class="admin-content">
                        <div class="am-g " style="margin-top:20px;">
                            <div class="am-u-md-8">
                                <div class="am-panel am-panel-default">
                                    <div class="am-panel-hd am-cf"><!--域名列表(未充值跳转页面)--></div>
                                    <div id="collapse-panel-4" class="am-panel-bd am-collapse am-in">
                                        <div class="weixin_list margin-0" style="padding-left:20px;">
                                            <div class="weixin am-g"  >
                                                <!--<a  <?php if($type =="1"){ echo ' class="am-btn am-btn-danger" ';}else{ echo 'class="am-btn am-btn-primary"'; }?>
                                                    href="?type=1">启用的域名</a>
                                                <a <?php if($type =="2"){ echo ' class="am-btn am-btn-danger" ';}else{ echo 'class="am-btn am-btn-primary"'; }?>
                                                    href="?type=2">拦截的域名</a>
                                                <a <?php if($type =="3"){ echo ' class="am-btn am-btn-danger" ';}else{ echo 'class="am-btn am-btn-primary"'; }?>
                                                href="?type=3">备用的域名</a>-->
                                                <div>
                                                    <?php $count=ceil(count($domainlist)/30);?>
                                                    <?php for($i=1;$i<=$count;$i++){ ?>
                                                    <div class="show_button <if condition='$i eq 1'>ccc</if>" onclick="show({$i},this)">第{$i}页</div>
                                                    <?php }?>
                                                    <a href="{:U('wechatlists')}" class="am-btn am-btn-danger"  style="background: red;">拦截日志</a>
                                                    <button id="chack_lanjie"  class="am-btn am-btn-danger"  style="background: red;">批量查询拦截</button>
													<span style="font-family: cursive;">&nbsp;(<font color="#0e90d2">正常</font>&nbsp;|&nbsp;<font color="red">拦截</font>&nbsp;|&nbsp;<font color="#02c874">查询失败</font>)</span>
                                                </div>
                                                <table class="am-table">
                                                    <thead>
                                                    <tr>
                                                        <th style="width:4%" class="tb-o"> ID</th>
                                                        <th class="tb-t">域名</th>
                                                        <th style="width:10%" class="tb-th">状态</th>
                                                        <th class="tb-f">操作</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="app">
                                                    <volist name="domainlist" id="v" key="k">
                                                    <tr class="show_<?php echo  ceil(($k+1)/30);?> qccode">
                                                        <td class="tb-o">{$v['id']}</td>
                                                        <td  class="tb-t">{$v['url']}</td>
                                                        <td class="tb-th">{$v['statu']}</td>
                                                        <td class="tb-f">
                                                            <volist name="v.status" id="vs" key="ks">
                                                                <if condition="$ks-1 neq $v['look']">
                                                                    <a class="btn-btn" href="<?php echo U('Ln/DoMain/domain_save',array('look'=>$ks-1,'id'=>$v['id']));?>">{$vs}</a>
                                                                </if>
                                                            </volist>
                                                        </td>
                                                    </tr>
                                                    </volist>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="am-u-md-4">
                                <div class="am-panel am-panel-default">
                                    <div class="am-panel-hd am-cf">添加域名</div>
                                    <div id="collapse-panel-4" class="am-panel-bd am-collapse am-in">
                                        <form class="am-form am-form-horizontal" action="{:U('Ln/DoMain/add_domain')}" method="post" >
                                            <input type="hidden" name="type" value="{$type}">
                                            <input type="hidden" name="action" value="{$action}">
                                            <div class="am-form-group">
                                                <label for="doc-ipt-3"class="am-u-sm-2 am-form-label">域名</label>
                                                <div class="am-u-sm-10">
                                                    <input type="text"  name="url" id="doc-ipt-3" placeholder="输入域名，多域名请用“,”分隔">
                                                </div>
                                            </div>
                                            <div class="am-form-group">
                                                <label for="doc-ipt-3" name="k" class="am-u-sm-2 am-form-label">状态</label>
                                                <div class="am-u-sm-10">
                                                    <select id="cid" name="look" class="form-control" size="1">
                                                        <option value="0">启用</option>
                                                        <option value="1">关闭</option>
                                                        <option value="2">备用</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="am-form-group">
                                                <div class="am-u-sm-10 am-u-sm-offset-2">
                                                    <button type="submit" class="am-btn am-btn-default">添加</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {$page}
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->
        <include file="Public/footer" />
    </div>
</div>
<include file="Public/footerjs" />
<!-- /.main-container -->
<script type="text/javascript">
    function show(page,obj){
        $(".qccode").hide();
        if(obj){
            $(".ccc").removeClass("ccc");
            $(obj).addClass("ccc");
        }
        $(".show_"+page).show();
    }
    show(1);
    $(function(){
        $(".del").click(function(){
            var url = $(this).attr('val');
            bootbox.confirm({
                title: "系统提示",
                message: "确定要删除?",
                callback:function(result){
                    if(result){
                        window.location.href = url;
                    }
                },
                buttons: {
                    "cancel" : {"label" : "取消"},
                    "confirm" : {
                        "label" : "确定",
                        "className" : "btn-danger"
                    }
                }
            });
        });
    });
    
    $("#chack_lanjie").click(function(){
       $(".tb-t").each(function(i){
          if(i > 0){
            var url = $(this).text();
            var div = $(this);
             $("#chack_lanjie").html("查询中...");
             $.ajax({
                type : "get",
                data : {"url":url},
                url  : "http://api.tcncn.com/Api?token=QBFPKDYXEUWMSRTAVOCL&return=json",
                dataType:"jsonp",
                success:function(data){
                    if (data.code == 0) {
                       div.css("color","#87CEFA");
                    }else if(data.code == 1){
                       div.css("color","red");
                    }else{
                       div.css("color","#01B468");
                    }
                }
             });
			 
			 /*$.ajax({
                type : "get",
                data : {"url":url},
                url  : "/index.php?m=Ln&c=DoMain&a=checkDoMain",
                dataType:"json",
                success:function(data){
                    if (data.code == 0) {
                       div.css("color","#87CEFA");//正常
                    }else if(data.code == 1){
                       div.css("color","red");//拦截
                    }else{
                       div.css("color","#01B468");//查询失败
                    }
                }
             });*/
             $("#chack_lanjie").html("批量查询拦截");
        }
    });
  });

</script>
</body>
</html>