<!-- #section:basics/sidebar -->
<div id="sidebar" class="sidebar responsive">
    <script type="text/javascript">
        try {
            ace.settings.check('sidebar', 'fixed')
        } catch(e){}
    </script>
    <!-- /.sidebar-shortcuts -->
    <?php if($user['gid'] == 1){ ?>
    <ul class="nav nav-list">
		<li style="text-align:center;height:120px;line-height:120px;color:#fff;background:#30343a;border-bottom: 1px solid #fff;"><img src="__PUBLIC__/Ln/avatars/avatar2.png" style="margin:0 10px;border-radius:50%;">欢迎你</li>
        <volist name="menu" id="v">
            <li <if condition="($v['id'] eq $current['id']) OR ($v['id'] eq $current['pid']) OR ($v['id'] eq $current['ppid'])">class="active
            <if condition="$current['pid'] neq '0'">open</if>"</if>>
            <a href="<empty name="v.name">#<else />{:U($v['name'])}</empty>" <notempty name="v.children">class="dropdown-toggle"</notempty>>
            <i class="{$v.icon}"></i>
            <span class="menu-text">{$v.title}</span>
            <notempty name="v.children">
                <b class="arrow fa fa-angle-down"></b>
            </notempty>
            </a>
            <b class="arrow"></b>
            <notempty name="v.children">
                <ul class="submenu">
                    <volist name="v.children" id="vv">
                        <li <if condition="($vv['id'] eq $current['id']) OR ($vv['id'] eq $current['pid'])">class="active
                        <if condition="$current['ppid'] neq '0'">open</if>"</if>>
                        <a href="<empty name="vv.children "><if condition="$vv['name'] eq 'Tg/index/yestotay' ">{:U(str_replace('/yestotay', '?startime=' . date('Y-m-d 00:00:00', strtotime('-1 day')) . '&endtime=' . date('Y-m-d 00:00:00'),$vv['name']))}<else />{:U($vv['name'])}</if><else />#</empty>" <notempty name="vv.children">class="dropdown-toggle"</notempty>>
                        <i class="{$vv.icon}"></i>{$vv.title}
                        <notempty name="vv.children">
                            <b class="arrow fa fa-angle-down"></b></notempty>
                        </a>
                        <b class="arrow"></b>
                        <notempty name="vv.children">
                            <ul class="submenu">
                                <volist name="vv.children" id="vvv">
                                    <li <if condition="$vvv['id'] eq $current['id']">class="active"</if>>
                                    <a href="{:U($vvv['name'])}">
                                        <i class="{$vvv.icon}"></i>{$vvv.title}</a>
                                    <b class="arrow"></b>
                                    </li>
                                </volist>
                            </ul>
                        </notempty>
                        </li>
                    </volist>
                </ul>
            </notempty>
            </li>
        </volist>
    </ul>
    <?php } ?>
    <?php if($user['gid'] == 2 || $user['gid'] == 3){ ?>
    <ul class="nav nav-list">
		<li style="text-align:center;height:120px;line-height:120px;color:#fff;background:#30343a;border-bottom: 1px solid #fff;"><img src="__PUBLIC__/Ln/avatars/avatar2.png" style="margin:0 10px;border-radius:50%;">欢迎你</li>
        <li>
            <a  href="{:U('Tg/generalize')}" >
                <i class="menu-icon fa fa-laptop"></i>
                <span class="menu-text">推广链接</span>
            </a>
        </li>
        <li>
            <a href="{:U('Tg/index')}">
                <i class="menu-icon fa fa-th-list"></i>
                <span class="menu-text">充值列表</span>
            </a>
        </li>
		<?php if($user['gid'] == 2){ ?>
        <li>
            <a  href="{:U('Member/index')}" >
                <i class="menu-icon fa fa-renren"></i>
                <span class="menu-text">推广商</span>
            </a>
        </li>
		<?php } ?>
        <li >
            <a href="{:U('personal/profile')}">
                <i class="menu-icon fa fa-user"></i>
                <span class="menu-text">个人中心</span>
            </a>
        </li>
    </ul>
    <?php } ?>


    <!-- /.nav-list -->
    <!-- #section:basics/sidebar.layout.minimize -->
    
    <!-- /section:basics/sidebar.layout.minimize -->
    
</div>
<!-- /section:basics/sidebar -->